<%= component :avatar_group do |group| %>
  <% group.with_avatar do %>
    <div class="w-12">
      <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
    </div>
  <% end %>
  <% group.with_avatar do %>
    <div class="w-12">
      <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
    </div>
  <% end %>
  <% group.with_avatar placeholder: true do %>
    <div class="bg-neutral text-neutral-content w-12">
      <span>+99</span>
    </div>
  <% end %>
<% end %>
