<%= form_with url: "#" do |f| %>
  <label class="form-control">
    <div class="label">
      <span class="label-text">Your bio</span>
      <span class="label-text-alt">Alt label</span>
    </div>
    <%= component :textarea, :bio, form: f, size: size, color: color, bordered: bordered, ghost: ghost, value: "Something in there...", placeholder: 'Bio' %>
    <div class="label">
      <span class="label-text-alt">Your bio</span>
      <span class="label-text-alt">Alt label</span>
    </div>
  </label>
<% end %>
