<%= component :accordion, arrow: true do |accordion| %>
  <% accordion.with_collapse do |collapse| %>
    <% collapse.with_radio name: "accordion1", data: {a: 1}, class: 'sss' %>
    <% collapse.with_collapse_title do %>
      Focus me to see content
    <% end %>
    <% collapse.with_collapse_content do %>
      <p>tabindex="0" attribute is necessary to make the div focusable</p>
    <% end %>
  <% end %>
  <% accordion.with_collapse do |collapse| %>
    <% collapse.with_radio name: "accordion1", data: {a: 1}, class: 'sss' %>
    <% collapse.with_collapse_title do %>
      Focus me to see content
    <% end %>
    <% collapse.with_collapse_content do %>
      <p>tabindex="0" attribute is necessary to make the div focusable</p>
    <% end %>
  <% end %>
  <% accordion.with_collapse do |collapse| %>
    <% collapse.with_radio name: "accordion1", data: {a: 1}, class: 'sss' %>
    <% collapse.with_collapse_title do %>
      Focus me to see content
    <% end %>
    <% collapse.with_collapse_content do %>
      <p>tabindex="0" attribute is necessary to make the div focusable</p>
    <% end %>
  <% end %>
<% end %>
