<%= form_with url: "#" do |f| %>
  <label class="form-control">
    <div class="label">
      <span class="label-text">Pick a file</span>
      <span class="label-text-alt">Alt label</span>
    </div>
    <%= component :file_input, :some_file, form: f, size: size, color: color, bordered: bordered, ghost: ghost %>
    <div class="label">
      <span class="label-text-alt">Your bio</span>
      <span class="label-text-alt">Alt label</span>
    </div>
  </label>
<% end %>
