<%= component :avatar, online: online, offline: offline, placeholder: placeholder, class: "asd" do %>
  <div class="w-24 rounded">
    <img src="https://avatar.iran.liara.run/public/88" />
  </div>
<% end %>
