<%= component :avatar, online: online, offline: offline, placeholder: placeholder, class: "asd" do %>
  <div class="w-24 rounded">
    <img src="https://img.daisyui.com/images/stock/photo-1534528741775-53994a69daeb.jpg" />
  </div>
<% end %>
