<%= component :breadcrumbs, class: "text-sm" do |bc| %>
  <% bc.with_item do %>
    <a>Home</a>
  <% end %>
  <% bc.with_item do %>
    <a>Documents</a>
  <% end %>
  <% bc.with_item do %>
    Add Document
  <% end %>
<% end %>
